<!DOCTYPE html>
<html lang="en">
<head>
  <!--- Maximilian Schiller 2020 -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=country%> - Pixel Art Country selector</title>
  <meta name="title" content="<%=country%> - Pixel Art Country selector">
  <meta name="description" content="<%=country%>'s Flag. Pixel Art Country selector">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <main>
    <div class="app">
      <div class="description">
        <h1>Pixel Art Country selector</h1>
        <p>This is a modified version of <a href="https://github.com/enwash">u/enwash's</a> <a href="https://github.com/enwash/pixel-country-picker">pixel art country picker</a>. This version tries to determine the closest matching flag by comparing each pixel to all saved flags. If your country is missing, please add it <a href="/add">here</a></p>
      </div>
      <h2><%=country%></h2>
      <% variations.forEach(function(variation) { %>
        <div id="flag">
          <% variation.values.forEach(function(value) { %>
            <span class="pixel" style="background-color: <%= value %>"></span>
          <% }); %>
        </div>
        <% if (variation.addedBy != undefined) { %><p>by <%= variation.addedBy %></p><%}%>
        <% }); %>
      <div class="form">
        <button onclick="window.location.href='/add'">Add your own</button>
        <p id="error"></p>
        <a href="/">Or try the country selector</a>
      </div>
      <p>Created by <a href="https://github.com/BetaHuhn">BetaHuhn</a>  - Original Pixel Country Picker by <a href="https://github.com/enwash/pixel-country-picker">u/enwash</a></p>
    </div>
    <div class="status">
      <h1 id="count">All Flags:</h1>
      <ul id="list">
      </ul>
    </div>
  </main>
  <script src="main.js"></script>
</body>
</html>
